@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: 'RobotoSlab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#App {
  width: 1300px;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

header {
  max-width: 100%;
  padding: 29px 100px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
}

header div {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 30px;
  color: #0290ff;
  font-family: 'Montserrat', sans-serif;
}

header ul {
  list-style: none;
  display: flex;
}

header li {
  margin-left: 47px;
  color: #121212;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

header span {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid #f5f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: self-end;
}

.book-element {
  display: flex;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  padding: 27px;
  margin-bottom: 15px;
  align-items: center;
}

.element-first > ul {
  list-style: none;
  margin-bottom: 1rem;
}

.element-third > button,
#submitBtn {
  background-color: #0290ff;
  border-radius: 3px;
  border: transparent;
  margin-top: 23px;
  color: white !important;
  width: 184px;
  height: 33px;
  text-align: center;
}

.element-third > p,
.element-third > button {
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  font-size: 16px !important;
}

.element-second > div > h2,
.element-second > div > p {
  font-family: 'Montserrat', serif;
  font-weight: normal;
}

.element-second > div > p {
  font-size: 14px;
  color: gray;
}

.element-third > p:first-child,
.element-third > button {
  font-size: 13px;
  color: gray;
}

.element-third > button,
.element-first > div > button,
.element-first > div > span {
  cursor: pointer;
}

.element-first > ul > li,
.element-first > div > span,
.element-first > div > button {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

.element-first > ul > li:not(:nth-child(2)),
.element-first > div > span,
.element-first > div > button {
  font-size: 14px;
  color: #4386bf;
}

.element-first > ul > li:first-child {
  font-family: 'Montserrat', serif;
  color: black;
}

.element-first > ul > li:nth-child(2) {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  height: 1.2em;
  white-space: nowrap;
  margin-right: 200px;
}

.element-first > ul > li:last-child,
.element-first > div > span,
.element-first > div > button {
  font-weight: lighter;
}

.element-first > div > button {
  background: transparent;
  border: 0;
}

.element-second {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.element-second > #circle {
  width: 68px;
  height: 68px;
  margin-right: 21px;
  color: #307bbe;
}

.element-second > div > h2 {
  font-size: 32px;
}

#line {
  display: inline-block;
  height: 70px;
  width: 2px;
  background-color: #e8e8e8;
  margin-right: 60px;
}

#span-divider {
  color: #e8e8e8;
  padding: 0 0.5rem;
}

#profileImg {
  width: 17px;
  height: 17px;
  color: #0290ff;
}

#bookslist {
  padding: 0 100px;
}

#bookForm {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 29px;
  padding: 0 100px;
  margin-bottom: 3rem;
}

#bookForm h1,
#CategoryFilter > h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #888;
  padding: 29px 0 19px 0;
}

#bookForm div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bookInput {
  font-family: 'Montserrat', sans-serif;
  padding: 8px 10px;
  height: 20px;
  width: 45%;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}

select {
  font-family: 'Montserrat', sans-serif;
  padding: 8px 10px;
  width: 23%;
  height: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, #c7c7c7 50%),
    linear-gradient(135deg, #c7c7c7 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    0;
  background-repeat: no-repeat;
}

#submitBtn {
  font-weight: bold;
  width: 23%;
  margin: 0;
}

#CategoryFilter {
  display: flex;
  align-items: center;
}

#CategoryFilter > h2 {
  margin-right: 1rem;
  margin-bottom: 10px;
}

#cleanButton {
  background-color: #0290ff;
  border-radius: 3px;
  font-weight: bold;
  width: 23%;
  margin: 1rem 0;
  height: 37px;
  color: white;
  border: 1px solid #0290ff;
}
